LQEAAA0VowLhriNBJ5Lfa2qY+3yYOXAfuLArb8ftAigQ94NGSUaF5wAAAACDDtUAAAAjIHsKIyAgICJTZXEiOiBbCiMgICAgIHsgIkFkZEVudiI6IHsgIm5hbWUiOiAiWCIsICJ2YWwiOiAiMSIgfSB9LAojICAgICB7ICJBZGRFbnYiOiB7ICJuYW1lIjogIlgiLCAidmFsIjogIiR7WH06MiIgfSB9LAojICAgICB7ICJEZXBlbmRzIjogInB5LWdlbmxheWVyOnRlc3QiIH0KIyAgIF0KIyB9CgppbXBvcnQgb3MKCnByaW50KG9zLmVudmlyb25bJ1gnXSkKZXhpdCgwKQoAAAAAAAAABQ==
